<?xml version="1.0" encoding="UTF-8"?>
<phpunit
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/12.5/phpunit.xsd"
	bootstrap="tests/bootstrap.php"
	colors="true"
	beStrictAboutOutputDuringTests="true"
	failOnDeprecation="true"
	failOnPhpunitDeprecation="true"
	failOnRisky="true"
	failOnWarning="true"
	cacheDirectory=".phpunit.cache">

	<testsuites>
		<testsuite name="WP GitHub Release Updater Test Suite">
			<directory>tests</directory>
		</testsuite>
	</testsuites>

	<source>
		<include>
			<directory suffix=".php">src</directory>
		</include>
		<exclude>
			<directory>src/admin</directory>
		</exclude>
	</source>

	<php>
		<ini name="error_reporting" value="-1" />
		<ini name="display_errors" value="1" />
		<ini name="display_startup_errors" value="1" />
	</php>
</phpunit>
